<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IZISCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IZISCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <IZISCOM.Properties.Settings>
            <setting name="Version_Adres" serializeAs="String">
                <value>https://raw.githubusercontent.com/MrAlexLbc/Iziscom/master/Update/version.xml</value>
            </setting>
            <setting name="Updater_Adres" serializeAs="String">
                <value>Updater.exe</value>
            </setting>
        </IZISCOM.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <IZISCOM.Properties.Settings>
            <setting name="Direktor" serializeAs="String">
                <value>А.В. Лукьянович</value>
            </setting>
            <setting name="IO_Direktora" serializeAs="String">
                <value>Е.С. Мамчиц</value>
            </setting>
            <setting name="Index_i1" serializeAs="String">
                <value>1.0067</value>
            </setting>
            <setting name="Index_i2" serializeAs="String">
                <value>1.0053</value>
            </setting>
            <setting name="YSN" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NDS" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="R14" serializeAs="String">
                <value>202.13</value>
            </setting>
            <setting name="SettingsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="B14" serializeAs="String">
                <value>210.4</value>
            </setting>
            <setting name="B14_Checked" serializeAs="String">
                <value>False</value>
            </setting>
        </IZISCOM.Properties.Settings>
    </userSettings>
</configuration>
